@model PEREKYP2.Models.Auto
@{
	ViewBag.Title = "Удаление записи";
}
<div>
	<dl class="dl-horizontal">
		<dt>Запись</dt>
		<dd>
			@Html.DisplayFor(model => model.Brand)
			@Html.DisplayFor(model => model.IdHistoryAuto)
			@Html.DisplayFor(model => model.BodyType)
			@Html.DisplayFor(model => model.Kpp)
			@Html.DisplayFor(model => model.EnginePower)
			@Html.DisplayFor(model => model.DriveUnit)
			@Html.DisplayFor(model => model.WeightKg)
			@Html.DisplayFor(model => model.YearOfIssue)
		</dd>
	</dl>
	<div>
		<form asp-controller="Home" asp-action="DeleteAuto" method="post">
			<div class="form-group">
				<input type="submit" class = "btn btn-dark" value="Удалить" />
			</div>
		</form>
	</div>
</div>